.App {
  text-align: center;
}

.dice {
  border: none;
  padding: 15px;
  margin-right: 2px;
  text-align: left;

  color: white;
  font-size: 1.25rem;

  background-image: url(/src/assets/d4.svg);

  &:hover,
  &:active,
  &:focus {
    // border-bottom: $sprk-toggle-trigger-hover-border-bottom;
    // color: $sprk-toggle-trigger-hover-color;
  }
}

.dice-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  background-color: green;
}

.dice {
  background-color: transparent;
  padding: 5px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  position: relative;

  .dice-label,
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}

.dice-picker .dice {
  margin: 5px;
  border: 2px solid hotpink;
}

.dice-picker .d4 .dice-label {
  margin-top: .25rem;
}

.d4, .d10, .d8 {
  color: black;
  // background-color: #65D0D9;
  // fill:#65D0D9;
}

.d6 {
  // background-color: #21469f;
}

.d8 {
  // background-color: #648452;
}

.d10 {
  // background-color: #dcbf5e;
}

.d12 {
  // background-color: #db7277;
}

.d20 {
  // background-color: #5a3128;
}

.roll-collection {
  min-height: 150px;
  background-color: skyblue;
}

.roll-collection .dice {
  margin: 5px;
}