.App {
  text-align: center;
}

.dice {
  background-color: hotpink;
  border: none;
  padding: 5px;
  margin-right: 2px;
  text-align: left;

  &:hover,
  &:active,
  &:focus {
    border-bottom: $sprk-toggle-trigger-hover-border-bottom;
    color: $sprk-toggle-trigger-hover-color;
  }
}